<section class="w-10/12 mx-auto">
    <h2 class="text-center w-11/12 mx-auto text-3xl font-light mb-6 text-green-600">Forget Password:</h2>
    <!--==========================verify Email==========================-->
    @if(step == 1){
        <form [formGroup]="verifyEmail" (ngSubmit) ="emailVerifySubmit()" >
            <div class="mb-2">
                <label  for="email" class="block mb-2 text-1xl font-normal
                 text-gray-900 dark:text-white">Email:
                </label>
                <input formControlName="email" type="email" id="email" 
                  class="bg-white border border-gray-300 
                  text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                  focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                  dark:border-gray-600 dark:placeholder-gray-400 
                  dark:text-white dark:focus:ring-blue-500 
                  dark:focus:border-blue-500"
                />
    
                @if(verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <div>
                            <ul>
                              @if(verifyEmail.get('email')?.getError('required')){
                                <li>email is required</li>
                              }
                              @else if (verifyEmail.get('email')?.getError('email')){
                                <li>Please Enter a Valid Email</li>
                              }
                          </ul>
                        </div>
                    </div>
                } 
            </div>
    
            <button [disabled]="verifyEmail.invalid" class="myBtn">verify Email</button>
        </form>
    }

    <!--============================verify code===========================-->
    @else if (step == 2) {
        <form [formGroup]="verifyCode" (ngSubmit) ="codeVerifySubmit()">
            <div class="mb-2">
                <label  for="resetCode" class="block mb-2 text-1xl font-normal
                 text-gray-900 dark:text-white">Enter reset code:
                </label>
                <input formControlName="resetCode" type="text" id="resetCode" 
                  class="bg-white border border-gray-300 
                  text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                  focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                  dark:border-gray-600 dark:placeholder-gray-400 
                  dark:text-white dark:focus:ring-blue-500 
                  dark:focus:border-blue-500"
                />
    
                @if(verifyCode.get('resetCode')?.errors && verifyCode.get('resetCode')?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <div>
                            <ul>
                              @if(verifyCode.get('resetCode')?.getError('required')){
                                <li>Reset code is required</li>
                              }
                              @else if (verifyCode.get('resetCode')?.getError('pattern')){
                                <li>Reset code is Incorrect.</li>
                              }
                          </ul>
                        </div>
                    </div>
                } 
            </div>
            <button [disabled]="verifyCode.invalid"  class="myBtn">Reset code</button>
        </form>
    }
    <!--===============================new password==========================-->
    @else if (step == 3) {
        <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
            <div class="mb-2">
                <label  for="email" class="block mb-2 text-1xl font-normal
                 text-gray-900 dark:text-white">Email:
                </label>
                <input formControlName="email" type="email" id="email" 
                  class="bg-white border border-gray-300 
                  text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                  focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 
                  dark:border-gray-600 dark:placeholder-gray-400 
                  dark:text-white dark:focus:ring-blue-500 
                  dark:focus:border-blue-500"
                />
    
                @if(resetPassword.get('email')?.errors && resetPassword.get('email')?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <div>
                            <ul>
                              @if(resetPassword.get('email')?.getError('required')){
                                <li>email is required</li>
                              }
                              @else if (resetPassword.get('email')?.getError('email')){
                                <li>Please Enter a Valid Email</li>
                              }
                          </ul>
                        </div>
                    </div>
                } 
            </div>
    
            <div class="mb-2">
                <label  for="password" class="block mb-2 text-1xl font-normal 
                text-gray-900 dark:text-white">New Password:
                </label>
                <input formControlName="newPassword" type="password" id="password" 
                class="bg-white border border-gray-300 text-gray-900 text-sm 
                rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full 
                p-2.5 dark:bg-gray-700 dark:border-gray-600 
                dark:placeholder-gray-400 dark:text-white 
                dark:focus:ring-blue-500 dark:focus:border-blue-500"
                />
        
                @if(resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched){
                    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <div>
                            <ul>
                              @if(resetPassword.get('newPassword')?.getError('required')){
                                <li>New Password is required</li>
                              }
                              @else if (resetPassword.get('newPassword')?.getError('pattern')){
                                <li>New Password must start with an uppercase letter and be at least 8 characters long.</li>
                              }
                          </ul>
                        </div>
                    </div>
                } 
            </div>
            <button class="myBtn">Reset Password</button>
        </form>
    }
</section>