<nav class="bg-gray-100 border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto px-4 py-2">
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/images/freshcart-logo.svg" alt="">
      </a>

      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      
      <div class="hidden flex-grow md:flex md:w-auto" id="navbar-default">
        @if (isLogen()) {
          <ul class="capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a routerLink="/home" routerLinkActive="bg-green-600 text-white" 
               class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700" aria-current="page">
               {{'navbar.home' | translate}}
            </a>
            </li>
            <li>
              <a routerLink="/products" routerLinkActive="bg-green-600 text-white" 
               class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700" aria-current="page">
               {{'navbar.product' | translate}}
              </a>
            </li>
            <li>
              <a routerLink="/categories" routerLinkActive="bg-green-600 text-white" 
               class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700" aria-current="page">
               {{'navbar.categories' | translate}}
              </a>
            </li>
            <!-- <li>
              <a 
                routerLink="/brands" routerLinkActive="bg-green-600 text-white" 
               class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700" aria-current="page">
               {{'navbar.brands' | translate}}
              </a>
            </li> -->
          </ul>
        }

        <ul class="items-center ms-auto capitalize flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-4 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" 
            class="flex items-center justify-between w-full py-2 px-3 text-gray-700 rounded-sm
             hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto
              dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700
               dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
               {{ 'navbar.lang' | translate }} 
               <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
           </button>
            <!-- Dropdown menu -->
            <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a 
                    [class.hidden]="currentLang('en')"
                    (click)="change('en')" role="button" 
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      EN
                    </a>
                  </li>
                  <li>
                    
                    <a [class.hidden] = "currentLang('ar')"
                       (click)="change('ar')" role="button" 
                       class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                      AR
                    </a>
                  </li>
                </ul>
            </div>
        </li>
            <li>
               <a href="#" class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                <i class="fab fa-facebook" ></i>
               </a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                 <i class="fab fa-twitter" ></i>
                </a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                 <i class="fab fa-instagram" ></i>
                </a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                 <i class="fab fa-tiktok" ></i>
                </a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                 <i class="fab fa-linkedin" ></i>
                </a>
            </li>
            <li>
                <a href="#" class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                 <i class="fab fa-youtube" ></i>
                </a>
            </li>
            <!-- start login and register  -->
            @if (!isLogen()) {        
            <li>
              <a routerLink="/login" routerLinkActive="bg-green-600 text-white"
               class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700" aria-current="page">
               {{'navbar.signin' | translate}}
              </a>
            </li>
            <li>
              <a routerLink="/register" routerLinkActive="bg-green-600 text-white"
               class="block py-2 px-3 text-gray-700   rounded-sm md:bg-transparent -700" aria-current="page">
               {{'navbar.register' | translate}}
              </a>
            </li>}
            <!-- end login and register  -->
             @else {
              <li>
                <a routerLink="/cart" routerLinkActive="text-green-600" 
                 class="text-2xl block py-2 px-3 text-gray-700   
                 rounded-sm md:bg-transparent -700" aria-current="page"
                 >
                 <i class="fas fa-cart-shopping"></i>
                </a>
              </li>   

              <li class="px-3 py-2 hover:bg-green-600 transition-all duration-500">
                <a role="button" (click)="logoutBtn()" class="block py-2 px-3 text-gray-700 
                hover:text-white transition-all duration-500 
                 rounded-sm md:bg-transparent -700 md:p-0" aria-current="page">
                 {{'navbar.logout' | translate}}
                </a>
              </li>
             }
        </ul>
      </div>
    </div>
  </nav>
  
