<footer class="bg-gray-200 py-6">
    <div class="w-11/12 mx-auto">
        <h2 class="m-0 text-2xl">
            {{'footer.freshcart' | translate}}
        </h2>
        <p class="text-gray-500 text-sm">
            {{'footer.linkApp' | translate}}
        </p>
        <div class="flex items-center gap-3 text-nowrap">
            <input type="email" class="w-full rounded-lg border-gray-300" placeholder="Email"/>
            <button class="btn-main">{{'footer.shareApp' | translate}}</button>
        </div>
        <hr>
        <div class="pay-detailes md:flex justify-between items-center my-5">
            <div class="flex items-center gap-2">
                <h3 class="text-sm m-0">{{'footer.paymentPartners' | translate}}</h3>
                <img src="/images/amazon-pay.png" width="50px" alt="">
                <img src="/images/American-Express-Color.png" width="50px" alt="">
                <img src="/images/paypal.png" width="50px" alt="">
                <img src="/images/mastercard.webp" width="50px" alt="">
                <!-- images -->
            </div>
            <div class="flex items-center gap-2">
                <h3 class="h6 m-0">{{'footer.Deliveries' | translate}}</h3>
                <img src="/images/get-google-play.png" width="100px" alt="">
                <img src="/images/get-apple-store.png" width="100px" alt="">
                <!-- images -->
            </div>
        </div>
    </div>

</footer>