/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'ngx-toastr/toastr';


.bg-green-600 { background-color: #16a34a !important; }
.text-white { color: white !important; }

.bg-green-800 { background-color: #16a34a !important;}

.myBtn{
    @apply bg-green-600 text-white px-12 py-2 border rounded hover:bg-green-800 transition-colors duration-500
    disabled:bg-gray-400 disabled:cursor-not-allowed;
}