<section class="w-[90%] mx-auto bg-gray-100 px-5 py-5 rounded">
    <h1 class="text-3xl text-center text-green-600">
      {{ 'checkout.checkout' | translate}}
    </h1>

<form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">
  <!--========================== Details ==============================-->
  <div>
    <label for="details" class="block mb-2 text-1xl font-normal text-green-600 dark:text-white">
      {{ 'checkout.details' | translate}}
    </label>
    <textarea  formControlName="details"
    name="details"
    id="details"
    class="bg-white border border-gray-300 text-gray-900 text-sm 
           rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full 
           p-2.5 dark:bg-gray-700 dark:border-gray-600 
           dark:placeholder-gray-400 dark:text-white 
           dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </textarea>
     
    @if(checkoutForm.get('details')?.errors && checkoutForm.get('details')?.touched){
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <div>
              <ul>
                @if(checkoutForm.get('details')?.getError('required')){
                  <li>{{ 'checkout.msgDetailsRequired' | translate}}</li>
                }

            </ul>
          </div>
      </div>
    }
  </div>
<!-- ==========================phone=============================-->
  <div>
    <label for="phone" class="block mb-2 text-1xl font-normal text-green-600 dark:text-white">
      {{ 'checkout.phone' | translate}}
    </label>
    <input
      formControlName="phone"
      type="tel"
      name="phone"
      id="phone"
      class="bg-white border border-gray-300 text-gray-900 text-sm 
             rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full 
             p-2.5 dark:bg-gray-700 dark:border-gray-600 
             dark:placeholder-gray-400 dark:text-white 
             dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
    @if(checkoutForm.get('phone')?.errors && checkoutForm.get('phone')?.touched){
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <div>
              <ul>
                @if(checkoutForm.get('phone')?.getError('required')){
                  <li>{{ 'checkout.msgPhoneRequired' | translate}}</li>
                }
                @else if (checkoutForm.get('phone')?.getError('pattern')){
                  <li>{{ 'checkout.msgPhoneValid' | translate}}</li>
                }
            </ul>
          </div>
      </div>
   } 
    
  </div>
<!--=============================== city ====================================-->
  <div>
    <label for="city" class="block mb-2 text-1xl font-normal text-green-600 dark:text-white">
      {{ 'checkout.city' | translate}}
    </label>
    <input
      formControlName="city"
      type="text"
      name="city"
      id="city"
      class="bg-white border border-gray-300 text-gray-900 text-sm 
             rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full 
             p-2.5 dark:bg-gray-700 dark:border-gray-600 
             dark:placeholder-gray-400 dark:text-white 
             dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
    @if(checkoutForm.get('city')?.errors && checkoutForm.get('city')?.touched){
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <div>
              <ul>
                @if(checkoutForm.get('city')?.getError('required')){
                  <li>{{ 'checkout.msgCityRequired' | translate}}</li>
                }
            </ul>
          </div>
      </div>
    } 
  </div>
  <!-- ===========================btns======================== -->
  <button class="myBtn my-4 mx-2" type="submit" [disabled]="checkoutForm.invalid">Online Payment</button>
  <button class="myBtn">{{ 'checkout.cashPayment' | translate}}</button>
</form>

</section>